{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<nav class="w3-row w3-center">
<div class="w3-bar">
    <!-- {{ with $pag.First }}
        <a href="{{ .URL }}" class="w3-button w3-round w3-theme-action {{ if not $pag.HasPrev }}w3-disabled{{ end }}" {{ if not $pag.HasPrev }}href="{{ .URL }}"{{ end }} aria-label="First"><span aria-hidden="true">&laquo;&laquo;</span></a>
    {{ end }} -->
        <a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }} {{ if not $pag.HasPrev }}{{.Permalink}}{{ end }}" class="w3-button w3-round w3-theme-action {{ if not $pag.HasPrev }}w3-disabled{{ end }}"  aria-label="Previous"><span aria-hidden="true">&lt;</span></a>
    {{ $ellipsed := false }}
    {{ $shouldEllipse := false }}
    {{ range $pag.Pagers }}
    {{ $right := sub .TotalPages .PageNumber }}
    {{ $showNumber := or (le .PageNumber 3) (eq $right 0) }}
    {{ $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2)))  }}
    {{ if $showNumber }}
        {{ $ellipsed = false }}
        {{ $shouldEllipse = false }}
    {{ else }}
        {{ $shouldEllipse = not $ellipsed }}
        {{ $ellipsed = true }}
    {{ end }}
    {{ if $showNumber }}
    <a class="w3-button w3-border w3-round w3-ripple w3-theme-action {{ if eq . $pag }}w3-theme-highlight{{ end }}" href="{{ .URL }}">{{ .PageNumber }}</a>
    {{ else if $shouldEllipse }}
    <a class="w3-button w3-round w3-theme-dark"><span aria-hidden="true">&nbsp;&hellip;&nbsp;</span></a>
    {{ end }}
    {{ end }}
    <a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }} {{ if not $pag.HasNext }}{{.Permalink}}{{ end }}" class="w3-button w3-round w3-theme-action {{ if not $pag.HasNext }}w3-disabled{{ end }}" aria-label="Next"><span aria-hidden="true">&gt;</span></a>
    
    <!-- {{ with $pag.Last }}
    
        <a href="{{ .URL }}" class="w3-button w3-round w3-theme-action {{ if not $pag.HasNext }}w3-disabled{{ end }}" aria-label="Last"><span aria-hidden="true">&raquo;&raquo;</span></a>
    
    {{ end }} -->
</div>
</nav>
{{ end }}